<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    {% for profession in professions %}
        <a href="{% url 'by_profession' profession.pk %}">{{ profession }}</a>
    {% endfor %}
    <a href="{% url 'add_star' %}">ADD NEW</a>
    {% if request.user.is_authenticated %}
     | Добро пожаловать, {{ user.username }}
    <a href="{% url 'logout' %}">logout</a>
    {% else %}
    <a href="{% url 'register' %}">Registration</a>
    <a href="{% url 'login' %}">Login</a>

    {% endif %}



    {% for star in stars %}
        <div>
            <p>{{ star.name }}</p>
            <p>{{ star.surname }}</p>
            <p>{{ star.age }}</p>
            <p>{{ star.condition }}</p>
            <p>{{ star.profession }}</p>
        </div>
        <a href="{% url 'view_star' star.pk %}">VIEW MORE</a>
        <hr>
    {% endfor %}
</body>
</html>